# Core
Django>=5.1

# Development Tools
black>=24.2.0
isort>=5.13.0
flake8>=7.0.0
pylint>=3.0.3
pylint-django>=2.5.5

# API
djangorestframework>=3.14.0
pydantic>=2.6.1

# Auth0
auth0-python>=3.0.0
djangorestframework-simplejwt>=5.0.0